.side-bar
  .header
    .header-box
      %p.header-box__name
        きり
      %ul.header-box__lists
        %li.new-group
          = link_to "#" do
            = icon('far', 'edit')
        %li.edit-user
          = link_to "#" do
            = icon('fas', 'cog')
      
  .groups
    .group__box
      .group__name
        techcamp
      .group__message
        新着メッセージ
    .group__box
      .group__name
        techcamp
      .group__message
        新着メッセージ
    .group__box
      .group__name
        techcamp
      .group__message
        新着メッセージ