* {
  box-sizing: border-box;
}
.main-chat {
  float: right;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
  box-sizing: border-box;
}
.main-header {
  background-color: #ffffff;
  height: 100px;

  &__info {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
  }
  &__title {
    color: #333333;
    font-size: 20px;
    padding-top: 35px;
    font-weight: bold;
  }
  &__member {
    color: $grayTextColor;
    font-size: 12px;
    display: flex;
    margin-top: 15px;
    &-name {
      color: $grayTextColor;
      font-size: 12px;
    }
  }
  &__edit {
    height: 40px;
    font-size: 16px;
    border: 1px solid $submitColor;
    padding: 0 20px;
    margin-top: 30px;
    line-height: 40px;
    position: absolute;
    right: 40px;
    a {
      text-decoration: none;
      color: $submitColor;
    }
  }
}
.main-messages {
  background-color: #fafafa;
  border-top: 1px #eeeeee;
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  padding-left: 40px;
  overflow: scroll;

  .main-message__group {
    padding-top: 35px;
  }


  .main-message__name {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    display: flex;
  }
  .main-message__name-update {
    color: $grayTextColor;
    font-size: 12px;
    margin-left: 5px;
  }
  .main-message__comment {
    color: #434A54;
    font-size: 14px;
    margin-top: 12px;
    padding-bottom: 11px;
  }
}
.main-form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;

  form {
    display: flex;

    .new-message {
      display: flex;
      height: 50px;
      width: 100vw;
    }

    .message-box {
      position: relative;
      display: flex;
    }

    .input-box__text {
      font-size: 16px;
      line-height: 50px;
      padding: 0 40px 0 10px;
      height: 50px;
      width: calc(100vw - 300px - 155px);
      color: $grayTextColor;
    }


      .input-box__image {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      cursor: pointer;
    }

    .input-box__image-file {
      display: none;
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 10px;
      background-color: $submitColor;
      font-size: 15px;
      cursor: pointer;
      color: #ffffff;
    }
  }
}
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  float: left;
  color: white;
  .header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 20px;

    .header-box {
      display: flex;
      height: 20px;
      width: 100%;
      justify-content: space-between;
      font-weight: bold;
      &__name {
        color: #ffffff;
        text-align: center;
      }
      &__lists {
        display: flex;
      }
      li {
        a {
           color: #ffffff;
           margin: 2.5px;
        }
      }
    }
  }
}


  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px;
    box-sizing: border-box;

    .group-box {
      display: flex;
    }

    a {
      text-decoration: none;
    }

      .group__name {
        color: #ffffff;
        font-size: 15px;
        padding-top: 20px;
      }
      .group__message {
        color: #ffffff;
        font-size: 11px;
        padding-top: 5px;
      }
  }